// Color Variables
$color-primary: #1cf564;
$color-primary-light: #3ed623;
$color-primary-dark: #14f3a9;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Grid Variables
$grid-width: 114rem;
$gutter-veritcal: 8rem;
$gutter-horizontal: 2rem;
